name: app1-workflow1-vault-secrets
on:
  workflow_dispatch
jobs:
  get-secret:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    name: get-secret
    env:   
      ACTIONS_STEP_DEBUG: true
    steps:
      - name: Import Secrets
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ vars.VAULT_ADDR }}
          namespace: root
          path: jwt-github-actions
          role: gb
          method: jwt
          exportToken: true
          secrets: |
              kv/test username | USERNAME;
      - name: hi
        run: "echo '${{steps.import-secrets.outputs.USERNAME}}'"

      - name: Revoke Vault Token
        if: always()
        run: |
          curl -X POST -sv --fail-with-body -H "X-Vault-Token: ${{ env.VAULT_TOKEN }}" \
            ${{ env.VAULT_ADDR }}/v1/auth/token/revoke-self
